.wrapper {
  max-width: 384px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.wrapper h1 {
  text-align: center;
  padding: 48px 0 21px 0;
}

.form {
  height: 599px;
  margin: 0 32px;
}

.sign_in {
  color: rgba(24, 144, 255, 1);
}

.label {
  margin-left: 32px;
  margin-right: 32px;
}

.input {
  margin-left: 32px;
  margin-right: 32px;
  width: 83%;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 12px;
  padding-left: 12px;
  outline: none;
  border: 1px solid rgba(217, 217, 217, 1);
  padding: 8px 12px;
  font-size: 16px;
}

.checkbox_wrapper {
  margin-left: 56px;
  position: relative;
}

.label_checkbox {
  font-size: 14px;
}

.checkbox {
  margin: 0;
  position: absolute;
  left: -24px;
  width: 16px;
  height: 16px;
}

.submit_button {
  width: 83%;
  margin-left: 32px;
  background-color: rgba(24, 144, 255, 1);
  padding: 8px 16px 8px 16px;
  gap: 4px;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-top: 21px;
  cursor: pointer;
}

.have_an_account {
  display: flex;
  justify-content: center;
  color: rgba(140, 140, 140, 1);
  font-size: 12px;
  padding: 8px 0 48px 0;
}

.error_message {
  height: '22px';
  font-size: 14px;
  color:red;
  margin-bottom: 12px;
  margin-right: auto;
  margin-left: 32px;
}

.error_message_check {
  height: '22px';
  font-size: 14px;
  color:red;
  margin-top: 6px;
  margin-right: auto;
  margin-left: -24px;
}
