 header {
     display: flex;
     height: 80px;
     align-items: center;
     justify-content: space-between;
     background-color: #fff;
     font-size: 18px;
 }

 header:first-child {
     margin-left: 22px;
 }

 .sign_block a:last-child {
     margin-right: 22px;
     margin-left: 22px;

 }

 a {
     text-decoration: none;
 }

 .wrapper {
    background-color: rgba(235, 238, 243, 1);
    padding-top: 26px;
 }